<%- include("partials/header1") %>
<div class= "container">
    <h3>Location Verification</h3>
        
          <div style="margin-top: 10px;margin-bottom: 10px;">
            <h2 class="text-center" style="font-size: 40px;">!!Instructions!!</h2>
            <ol>
                <h4 ><li>Your Distance Should be less than 100 km from your Home City</li></h4>
                <h4><li>This should be your first Purchase for this product</li></h4>
            </ol>
          </div>
          <div class="dropdown btnmgn" >

            <button class="btn bgc text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Product
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% products.forEach(function(pro){%>
                    <a class="dropdown-item" href="/check/<%=pro.uniquename%>"><%=pro.productname%></a>
                    <!--<button class="dropdown-item" onclick="getdist()"><%=place.namelocation%></button>-->
                <%});%>
            </div>

            
          </div>
          
    </div>

<%- include("partials/footer1") %>