<%- include("partials/header1") %>
<%var c=1;%>
<%console.log(currentUser)%>
<h1>Leaderboard</h1>
<div class="overall" style="text-align:center">
    <label class="dropdown">

        <div class="bgc text-white dd-button">
          Select City 
        </div>
      
        <input type="checkbox" class="dd-input" id="test">
        <ul class="dd-menu">
        <% data.cities.forEach(function(city){%>
          <li class="divider"></li>
          <li>
            <a href="/leaderboard/<%=city.cityname%>"><%=city.cityname%></a>
          </li>
          <%});%>
        </ul>
      </label>
    </div>

<ol>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div style="width:100%;" class="row d-flex justify-content-center">
                <div style="border: 2px solid black;"class="bgc text-white col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">Rank</div>
                <div style="border: 2px solid black;"class="bgc text-white col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">User</div>
                <div style="border: 2px solid black;"class="bgc text-white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">Points</div>
                <div style="border: 2px solid black;"class="bgc text-white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">City</div>
            </div>
        </div>
    </div>
<% data.allusers.forEach(function(singleuser){%>
<div class="d-flex justify-content-center">
    <div class="container">
        <div style="width:100%;" class="second row d-flex justify-content-center ">
            <div style="border: 2px solid black;"class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"><%=c%><%c++%></div>
            <div style="border: 2px solid black;"class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"><a href="/profile/<%=singleuser.username%>"><%=singleuser.username%></a></div>
            <div style="border: 2px solid black;"class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><%=singleuser.points%></div>
            <div style="border: 2px solid black;"class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><%=singleuser.city%></div>
        </div>
    </div>
</div>
<%});%>
<h4 class="text-center"style="margin-top:50px;margin-bottom: 100px;">!!Keep Shopping!!</h4>
<%- include("partials/footer1") %>
