<%- include("partials/header1") %>
<h3>Products</h3>
<!--<h4><a href="/addnew">Add a new Destination</a></h4>-->
<div class="container">
        <div class="row d-flex justify-content-center">
        <% products.forEach(function(pro){%>
            <div class="card" style="margin-bottom:40px;margin-left:10px;border-radius: 20px;   height:430px; max-width: 260px;">
                <img class="card-img-top" style="border-radius: 0px; height:180px;" src="<%=pro.image%>" alt="Card image cap">
                <div class="list card-body "style="border-top-radius: 0px;">
                  <h5 class="card-title"><%=pro.productname%></h5>
                   <p class="card-text"><%=pro.productname%> for <%=pro.category%> has a price of INR <%=pro.price%>. Purchase Now and add Points!! Get Benefits of 30 day returns and Home Trials.</p>
                  <a href="/products/<%=pro.uniquename%>" class="bgc btn btn-primary">More Info</a>
                </div>
              </div>
            <%});%>            
        </div>
        <h4 style="margin-bottom: 100px;"class="row d-flex justify-content-center">Keep Shopping!!</h4>
    </div>
    <%- include("partials/footer1") %>